{
		"dbURL": "mongodb://",
		"dbURL2": "mongodb://",
		"dbName": "xxxxx",
		"collectionName": "xxxxx",
		"passportClientID": "12398074912930874",
		"passportClientSecret": "xxxxxxxxxxxxxxxxxxxxx",
		"sessionSecret": "xxxxxxxxxxxxxxxxxxxxx",
		"inviteURL": "https://discordapp.com/oauth2/authorize?xxxxxxxxxxxxxxxxxxxxx",
		"supportURL": "https://discord.gg/xxxxxxxxxxxxxxxxxxxxx",
		"voteURL": "https://discordbots.org/bot/xxxxxxxxxxxxxxxxxxxxx/vote"
}
