html
	head
		include head.pug
	body
		div(class='wrapper')
			include navbar.pug
			div(class='info-container')
				div(class='middle-content')
					include commandstable.pug
					include tablescript.js
