html
	head
		include head.pug
	body
		div(class='wrapper')
			include navbar.pug
			div(class='info-container')
				div(class='middle-content')
					div(class='section')
						h1(class='section-heading') Command Docs
						hr
						div(class='section-content')
							include commandcategories.pug
							include ./js/categoryscript.js
		include footer.pug
