[ 
	{
		"name": "General Commands",
		"color": "#ff6666",
		"commands": [
			{
				"name": "help",
				"args": "[command]",
				"description": "get general help info, or specific command help",
				"examples": [
					">help",
					">help profile"
				]
			},
			{
				"name": "profile",
				"args": "[@mention]",
				"description": "view profiles. use a mention to see a specific user, or no mention to see your own.",
				"examples": [
					">profile",
					">profile @Somebody"
				]
			},
		]
	},
	{
		"name": "Music Commands",
		"color": "#ff99ff",
		"commands": [
			{
				"name": "play",
				"args": "<URL or search terms>",
				"description": "play music from a link or search terms",
				"examples": [
					">play darude sandstorm",
				]
			},
			{
				"name": "stop",
				"args": "",
				"description": "stop music and clear the queue",
				"examples": [
					">stop"
				]
			},
		]
	}
]
