html
	head
		include head.pug
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		include api.js
	body
		div(class='wrapper')
			include navbar.pug
			div(class='sidebar')
				each server in user.guilds
					div(class='icon-container-left')
						object(data-attribute=server.id class='sidebar-icon-radius' width=50 height=50 data=(server.icon!=null?'https://cdn.discordapp.com/icons/'+server.id+'/'+server.icon+'.png':'https://discordapp.com/assets/28174a34e77bb5e5310ced9f95cb480b.png') type='image/png')
			div(class='info-container offset')
				h1 BETA - Shows info only. No editing.
				p(class='server-info')
		
