html
	head
		include head.pug
	body
		div(class='wrapper')
			include navbar.pug
			div(class='info-container')
				each qa in faq
					h1 #{qa.question}
					p #{qa.answer}
					br
				include widgets.pug
		
