html
	head
		include head.pug
	body
		div(class='wrapper')
			include navbar.pug
			div(class='info-container')
				div(class='middle-content')
					div(class="width-wrapper" style="--data-width-wrapper:100%;")
						div(class='section')
							h1(class='section-heading') Frequently Asked Questions
							hr
							div(class='section-content')
								each qa in faq
									h3 #{qa.question}
									p #{qa.answer}
									br
		include footer.pug
