<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
link(rel="shortcut icon" href=configs.botImage type="image/x-icon")
meta(name="description" content=configs.botDescription)
title #{configs.botName}
// twitter cards
<meta name="twitter:card" content="TomBot">
<meta name="twitter:site" content="https://69420.me">
<meta name="twitter:image" content="https://img.69420.me/tombot.png">
<meta name="twitter:title" content="TomBot - Discord bot for music & chat games">
<meta name="twitter:description" content="Invite TomBot, join the support server and read the command list">
// opengraph
<meta property="og:site_name" value="TomBot">
<meta property="og:title" content="TomBot - Discord bot for music & chat games">
<meta property="og:url" content="https://69420.me">
<meta property="og:description" content="Invite TomBot, join the support server and read the command list">
<meta property="og:image" content="https://img.69420.me/tombot.png">
style(type="text/css").
	::-webkit-scrollbar {
		display:none;
	}
	html {
		background-color:#2C2F33;
		color:white;
	}
	body {
		overflow: hidden;
		margin:0px;
		font-family: 'Roboto Mono', monospace;
	}
	.is-active {
		box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
	}
	.navbar {
		background-color:#23272A;
		height:50px;
		width:100%;
		overflow: auto;
		white-space: nowrap;
	}
	.fab {
	    margin-right: 5px;
	}
	.fas {
	    margin-right: 5px;
	}
	.sidebar {
		padding:5px;
		height:100%;
		width: 50px;
		position: fixed;
		overflow-y: scroll;
		left: 0px;
		background-color:#23272A;
	}
	.info-container {
		color: #ccc;
		padding: 5px;
		position: absolute;
		top: 50px;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: scroll;
		padding-right: 23px;
		padding-bottom: 23px;
		margin-right: -17px;
		margin-bottom: -17px;
	}
	.offset {
		left: 60px;
	}
	.navbar-dropdown {
		display: none;
		float:right;
		margin-bottom:5px;
	}
	.icon-container-right {
		float:right;
		margin-bottom:5px;
	}
	.icon-container-left {
		float:left;
		margin-bottom:5px;
	}
	.navbar-container {
		display: -webkit-flex;
		display: flex;
		align-items: center;
		margin-left: 5px;
		margin-right: 5px;
		float: right;
	}
	.sidebar-icon-radius {
	    cursor: pointer;
		border-radius:50%;
	}
	.navbar-icon-radius {
		border-radius:50%;
		float:right;
	}
	.navbar-button {
		float: right;
	    padding-top: 0px;
		display: inline-block;
	}
	.home-button {
		float: left;
	}
	.home-button, .navbar-button {
		line-height: 50px;
	}
	.home-button, .navbar-button {
		padding-left: 10px;
		padding-right: 10px;
		background-color: #7289DA;
	}
	.table-selector {
		width:12.5%;
		margin:0px;
		padding:0px;
		text-align:center;
		background-color: #7289DA;
	}
	a {
		color:white;
		text-decoration: none;
		-o-transition:.3s;
		-ms-transition:.3s;
		-moz-transition:.3s;
		-webkit-transition:.3s;
		transition:.3s;
	}
	.table-selector:hover, a.home-button:hover, a.navbar-button:hover, button.navbar-button:hover {
		background-color: #7e9bff;
	}
	.wrapper {
		width:100%;
	}
	p {
		margin:0;
		padding:0;
	}
	h1 {
		margin:0;
	}
	table {
		width: 100%;
		border-collapse: collapse;
	}
	th {
		background-color:#23272A;
	}
	table, th, td {
		padding: .2rem;
		border-bottom: 1px solid #23272A;
	}
	.table-selector {
		line-height: 40px;
		display: inline-block;
		-o-transition:.3s;
		-ms-transition:.3s;
		-moz-transition:.3s;
		-webkit-transition:.3s;
		transition:.3s;
	}
	.chart-container {
		display: inline-block;
		width: 100%;
		height: 500px;
		margin-bottom:5px;
	}
	.middle-content {
		margin: 0 auto;
		width: 1024px;
	}
	.section-content {
		font-family: Verdana,sans-serif;
		overflow: hidden;
		margin-bottom: 10px;
		margin-top: 10px;
		padding: 10px;
		background: #363a3f;
	}
	.section-text {
		overflow: auto;
		padding: 10px;
		background: #363a3f;
	}
	.section-heading {
		color:#fff;
		text-align:center;
	}
	h2 {
		color:#fff;
	}
	hr {
		display: block;
		height: 1px;
		border: 0;
		border-top: 1px solid #ccc;
		margin: 1em 0;
		padding: 0; 
	}
	li{
		margin: 0px;
		position: relative;
		left: 2em;
	}
	@media screen and (max-width: 1024px) {
		.middle-content {
			width:100%
		}
	}
	@media screen and (max-width: 700px) {
		img {
			min-width: 0!important;
			min-height: 0!important;
			max-width: 100%;
			max-height: 100%;
		}
		.chart-container {
			pointer-events: none;
			height: 500px;
		}
		.navbar-button {
			float: none;
		}
		.section-text {
			display:inline-block;
		}
		.table-selector {
			width:25%;
		}
	}
