include ./css/main.css
link(rel=(style=='light'?'stylesheet':'alternate stylesheet') type="text/css" title='light' href='/static/css/light.css' chartcolor='#000')
link(rel=(style=='dark'?'stylesheet':'alternate stylesheet') type="text/css" title='dark' href='/static/css/dark.css' chartcolor='#fff')
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-43028377-2"></script>
script.
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', 'UA-43028377-2');
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" integrity="sha256-1A78rJEdiWTzco6qdn3igTBv9VupN3Q1ozZNTR4WE/Y=" crossorigin="anonymous"></script>
link(rel="shortcut icon" href=configs.botImage type="image/x-icon")
meta(name="description" content=configs.botDescription)
title #{configs.botName}
// twitter cards
<meta name="twitter:card" content="TomBot">
<meta name="twitter:site" content="https://69420.me">
<meta name="twitter:image" content="https://img.69420.me/tombot.png">
<meta name="twitter:title" content="TomBot - Discord bot for music & chat games">
<meta name="twitter:description" content="Invite TomBot, join the support server and read the command list">
// opengraph
<meta property="og:site_name" value="TomBot">
<meta property="og:title" content="TomBot - Discord bot for music & chat games">
<meta property="og:url" content="https://69420.me">
<meta property="og:description" content="Invite TomBot, join the support server and read the command list">
<meta property="og:image" content="https://img.69420.me/tombot.png">
