html
	head
		include head.pug
	body
		div(class='wrapper')
			include navbar.pug
			div(class='info-container')
				div(class='middle-content')
					p Under construction!
					include widgets.pug
		
