div(class='navbar')
	a(class='home-button' href='/')
		object(style='float:left;margin-right:10px;margin-left:-10px;' width=50 height=50 data='https://images.discordapp.net/avatars/346577085155901451/b1d87ae2fc7e191fe07bcb0332ad7961.png') type='image/png')
		. 
			Home
	if !user
		a(class='navbar-button' href='/login') Login
	else 
		a(class='navbar-button' href='/logout') Logout
		a(class='navbar-button' href='/dashboard') #{user.username}##{user.discriminator}
	a(class='navbar-button' href='/faq') FAQ
	a(class='navbar-button' href='/stats') Stats
	a(class='navbar-button' href='/vote') Vote
	a(class='navbar-button' href='/support') Support
	a(class='navbar-button' href='/invite') Invite
