extends layout.pug

block scripts
	script(defer src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js" integrity="sha256-ji09tECORKvr8xB9iCl8DJ8iNMLriDchC1+p+yt1hSs=" crossorigin="anonymous")
	script(defer src='/js/stats.js' type='text/javascript')
	
block content
	div(class='section' style='margin: 5px;margin-top: 55px;')
		h3(id='loading-message') Loading Stats...
		div(class='section-content' style='display:none;text-align:center;')
			h3 Cluster Stats
			div(style='display:block;overflow-x:auto;')
				table(class='tombot-stats-table' style='text-align:center;white-space:nowrap;')
			div(class='width-wrapper')
				h3(style='text-align:center') Database Stats
				div(style='display:block;overflow-x:auto;')
					table(class='db-stats-table' style='text-align:center;white-space:nowrap;')
			div(class='width-wrapper')
				h3(style='text-align:center') Music Node Stats
				div(style='display:block;overflow-x:auto')
					table(class='music-stats-table' style='text-align:center;white-space:nowrap;')
			h3 Network Stats
			div(style='display:block;overflow-x:auto;')
				table(class='network-stats-table' style='text-align:center;white-space:nowrap;')
