div(style='margin:5px;')
	<a href="https://botsfordiscord.com/bot/346577085155901451">
		<img src="https://botsfordiscord.com/api/v1/bots/346577085155901451/embed?theme=dark">
	</a>
	<a href="https://discordbots.org/bot/346577085155901451">
		<img src="https://discordbots.org/api/widget/346577085155901451.svg" alt="TomBot">
	</a>
	<a href="https://listcord.com/bot/346577085155901451">
		<img src="https://nuggetbot.com/listcord/embed.png?id=346577085155901451" alt="TomBot">
	</a>