[ 
	{
		"name": "Category example",
		"color": "#ff6666",
		"commands": [
			{
				"name": "Command example",
				"args": "[command]",
				"description": "example",
				"examples": [
					">example",
					">example 123"
				]
			}
		]
	}
]

