{
	"inviteURL": "https://discordapp.com/oauth2/authorize?client_id=346577085155901451&permissions=3435840&scope=bot",
	"supportURL": "https://discord.gg/CZGuV2W",
	"voteURL": "https://discordbots.org/bot/tombot/vote",
	"githubURL": "https://github.com/fatchan",
	"donateURL": "https://donatebot.io/checkout/425495023614951426",
}


