{
		"botName": "xxxxxxxxxxxxxxxxxxxxxxxxxx",
        "botImage": "xxxxxxxxxxxxxxxxxxxxxxxxxx",
        "inviteURL": "xxxxxxxxxxxxxxxxxxxxxxxxxx",
        "supportURL": "xxxxxxxxxxxxxxxxxxxxxxxxxx",
        "voteURL": "xxxxxxxxxxxxxxxxxxxxxxxxxx",
        "githubURL": "xxxxxxxxxxxxxxxxxxxxxxxxxx",
        "donateURL": "xxxxxxxxxxxxxxxxxxxxxxxxxx",
		"botDescription": "xxxxxxxxxxxxxxxxxxxxxxxxxx"
}