[
	{
		"image": "https://discordbots.org/api/widget/xxxxxxxxxxxxx.svg?usernamecolor=fff&topcolor=7289da&middlecolor=fff&highlightcolor=f1f1f1&datacolor=000",
		"url": "https://discordbots.org/bot/xxxxxx"
	}
]
