extends ../layout.pug

block content
	div(class='section' style='margin: 5px;margin-top: 55px;')
		h1(class='section-heading') Command Docs
		hr
		include ../includes/commandcategories.pug
		script(type='text/javascript')
			include ../../../dist/js/categoryscript.js
