html
	head
		include includes/head.pug
		block scripts
	body
		block pre-content
		div(class='wrapper')
			include includes/navbar.pug
			div(class='info-container')
				div(class='middle-content')
					block content
		
		block pre-footer
		include includes/footer.pug
		block post-footer
