	html {
		background-color:#2C2F33;
		color:white;
	}
    .command-info {
		background: #23272a3d;
	}
    .theme-reactive {
        filter: grayscale(100%) invert(100%);
    }
	.navbar {
		box-shadow: 0 0 3px 0 black;
		background-color:#23272A;
	}
	.sidebar {
		background-color:#23272A;
	}
	.footer {
		background-color:#23272A;
	}
	.info-container {
		color: #ccc;
	}
	.home-button, .navbar-button {
		background-color: #7289DA;
	}
	.table-selector {
		background-color: #7289DA;
	}
	a {
		color:white;
	}
	.table-selector:hover, a.home-button:hover, a.navbar-button:hover, button.navbar-button:hover {
		background-color: #7e9bff;
	}
	table, th, td {
		border-bottom: 1px solid #23272A;
	}
	.cover-trial {
		background: #363A3f;
	}
	.section {
		box-shadow: 0px 3px 3px -3px black;
		background: #363A3f;
	}
	.section-heading {
		color:#fff;
	}
	h2 {
		color:#fff;
	}
