	html {
		color:black;
	}
    .theme-reactive {
        filter: grayscale(100%);
    }
	.navbar {
		background-color:#F1F1F1;
	}
	.sidebar {
		background-color:#F1F1F1;
	}
	.footer {
		background: #f1f1f1;
	}
	.footer-button {
		color: black;
	}
	.home-button, .navbar-button {
		background-color: #7289DA;
	}
	.table-selector {
		background-color: #7289DA;
	}
	.table-selector:hover, a.home-button:hover, a.navbar-button:hover, button.navbar-button:hover {
		background-color: #7e9bff;
	}
	.cover-trial {
		/*background: #f1f1f1;*/
	}
	.section {
		/*background: #f1f1f1;*/
	}
	.section-tile {
		/*background:white;*/
	}
	h2 {
		color:#7289DA;
	}
