
	::-webkit-scrollbar {
		display:none;
	}
	.stats-total-table {
		white-space: nowrap;
		text-align:left;
	}
	html, body {
		height: 100%;
	}
	.width-wrapper {
		display: inline-block;
		box-sizing: border-box;
		width: var(--data-width-wrapper, 50%);
		vertical-align: top;
		padding: 5px;
		text-align:initial;
	}
	body {
		margin:0px;
		font-family: 'Karla', sans-serif;
		display: flex;
		flex-direction: column;
	}
	.navbar-space {
		margin:5px;
		float:right;
	}
	.is-active {
		box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
	}
	.navbar {
		border-bottom: 1px rgba(0, 0, 0, 0.08) solid;
		font-family: 'Karla', sans-serif;
		z-index:2;
		position: fixed;
		top: 0;
		max-height:50px!important;
		width:100%;
		overflow: auto;
		white-space: nowrap;
	}
	.navbar-button > .fab {
		margin-right: 5px;
	}
	.navbar-button > .fas {
		margin-right: 5px;
	}
	.sidebar {
		padding:5px;
		width: 50px;
		top:50px;
		bottom:0;
		position: fixed;
		overflow-y: auto;
		overflow-x:hidden;
		margin-bottom: -17px;
		padding-bottom: 23px;
	}
	.footer {
		border-top: 1px rgba(0, 0, 0, 0.08) solid;
		padding:10px;
		text-align: center;
		flex-shrink: 0;
	}
	.offset {
		left: 60px;
	}
	.navbar-dropdown {
		display: none;
		float:right;
		margin-bottom:5px;
	}
	.icon-container-right {
		float:right;
		margin-bottom:5px;
	}
	.icon-container-left {
		float:left;
		margin-bottom:5px;
	}
	.navbar-container {
		display: -webkit-flex;
		display: flex;
		align-items: center;
		margin-left: 5px;
		margin-right: 5px;
		float: right;
	}
	.sidebar-icon-radius {
	    cursor: pointer;
		border-radius:50%;
	}
	.navbar-icon-radius {
		border-radius:50%;
		float:right;
	}
	.footer-button {
		font-size:35px;
		margin-left:10px;
		margin-right:10px;
	}
	.footer-button:hover {
		color: var(--data-hover-color);
	}
	.navbar-button {
		float: right;
	    padding-top: 0px;
		display: inline-block;
	}
	.home-button {
		float: left;
	}
	.home-button, .navbar-button {
		color: white;
		line-height: 50px;
	}
	.home-button, .navbar-button {
		padding-left: 10px;
		padding-right: 10px;
		background-color: #7289DA;
	}
	.category-selector {
		width:12.5%;
		margin:0px;
		padding:0px;
		text-align:center;
		background-color: #7289DA;
	}
	a {
		color:white;
		text-decoration: none;
		-o-transition:.3s;
		-ms-transition:.3s;
		-moz-transition:.3s;
		-webkit-transition:.3s;
		transition:.3s;
	}
	.table-selector:hover, .category-selector:hover, a.home-button:hover, a.navbar-button:hover, button.navbar-button:hover {
		box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1)
	}
	.wrapper {
		flex: 1 0 auto;
		width:100%;
	}
	p {
		margin:0;
		padding:0;
	}
	h1 {
		margin:0;
	}
	table {
		width: 100%;
		font-family: 'Karla', sans-serif;
		border-collapse: collapse;
	}
	table, th, td {
		padding: .2rem;
		border-bottom: 1px solid #23272A;
	}
	.category-selector {
		line-height: 40px;
		display: inline-block;
		-o-transition:.3s;
		-ms-transition:.3s;
		-moz-transition:.3s;
		-webkit-transition:.3s;
		transition:.3s;
	}
	.chart-container {
		display: inline-block;
		width: 100%;
		height: 500px;
		margin-bottom:5px;
	}
	.middle-content {
		margin: 0 auto;
		margin-top: 50px;
		width: 1024px;
	}
	.info-container {
		padding:5px;
	}
	.section {
		border-radius:5px;
		overflow: hidden;
		/*word-break: break-all;*/
		padding: 15px;
		border: 1px rgba(0, 0, 0, 0.08) solid;
	}
	.section-tile {
		border: 1px rgba(0, 0, 0, 0.08) solid;
	}
	.section-heading {
		margin: 0;
		text-align:center;
	}
	h2 {
		margin: 0;
	}
	hr {
		border: 0;
	}
	li{
		list-style-position: inside;
		margin: 0px;
	}
	.navbar-toggle {
		display: none!important;
		cursor: pointer;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 3;
		line-height: 50px;
		font-size: 35px;
		color: white;
		margin-top: 7px;
		margin-right: 7px;
		margin-left: 25px;
		margin-bottom: 25px;
		display: none;
	}
	.home-button-icon {
		float:left;
		margin-right:10px;
		margin-left:-10px;
	}
	@media screen and (max-width: 1024px) {
		.middle-content {
			width:100%
		}
	}
	@media screen and (max-width: 800px) {
		img {
			min-width: 0!important;
			min-height: 0!important;
			max-width: 100%;
			max-height: 100%;
		}
		.chart-container {
			pointer-events: none;
			height: 500px;
		}
		.width-wrapper {
			width:100%
		}
		.navbar-space {
			display:none;
		}
		.navbar-toggle {
			display: block!important;
		}
		.navbar-button, .home-button{
			display:block;
			width:100%;
			text-align:center;
			margin: 0px;
			padding: 0px;
		}
		.navbar {
			/*background-color: #7289DA !important;*/
			overflow: hidden;
			transition: max-height 0.3s;
			box-sizing: border-box;
		}
		.mobile-shown {
			padding-top: 0px!important;
			max-height: 450px!important;
		}
		.section-text {
			display:inline-block;
		}
		.home-button-icon {
			margin:0px;
		}
		.home-button {
			width: 120px;
		}
		.category-selector {
			width:25%;
		}
	}
