html {
	background-color: #000;
	color: white;
}
.footer a {
	color: white;
}
.navbar, .footer {
	background-color: #000;
	border-color: #1e1e1e;
}
.home-button, .navbar-button, .category-selector {
	background-color: #000080;
}
h2 {
	color: #6BB2FF;
}
