html {
	color:black;
}
.footer {
	background: #f1f1f1;
}
.footer-button {
	color: black;
}
.home-button, .navbar-button, .table-selector, .navbar {
	background-color: #7289DA;
}
h2 {
	color:#7289DA;
}
