{
		"dbURL": "mongodb://user:pass@host:port/authdb",
        "statsDbName": "xxxxxxxxxxx",
        "sessionDbName": "xxxxxxxxxxx",
		"passportClientID": "12398074912930874",
		"passportClientSecret": "xxxxxxxxxxxxxxxxxxxxx",
		"sessionSecret": "xxxxxxxxxxxxxxxxxxxxx",
}
