	html {
		background-color: rgb(16, 20, 23);
		color:white;
	}
	.navbar, .footer {
		background-color: rgb(16, 20, 23);
	}
    .theme-reactive {
        filter: grayscale(100%) invert(100%);
    }
	.home-button, .navbar-button {
		background-color: rgb(16, 20, 23);
	}
	html, body, :not([style*="color:"]) {
		color: rgb(167, 158, 139);
	}
	.footer a {
		color: rgb(167, 158, 139);
	}
	.navbar * {
		color: rgb(142, 193, 217)!important;
	}
	h1:not([style*="color:"]), h2:not([style*="color:"]), h3:not([style*="color:"]), h4:not([style*="color:"]), h5:not([style*="color:"]), h6:not([style*="color:"]) {
		color: rgb(234, 146, 109);
	}
	html, body, :not([style*="border-color:"]), ::before, ::after {
		border-color: rgb(91, 118, 130);
	}
	.category-selector {
		background-color: rgb(16, 20, 23);
	}
